# Ignore Mac system files
.DS_store
food
car
yolov4-tiny.weights
ambulance_model.h5
car_model.h5
ambulance_video.mov
firetruck_video.mov
policecar_video.mov
real_car
real_car_model.h5
# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

checkpoints.data-00000-of-00001
checkpoints.index